:root {
  --poke-red: #f03232;
}

header {
  background-color: var(--poke-red);
  height: 12vh;
  width: 100%;
  border-bottom: 2px solid black;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#poke-logo {
  display: flex;
  height: 9vh;
}
